<h2>Junostagram</h2>

<hr/>

<h3>[Posting]</h3>

<%=form_tag '/write', method: 'post' do%>
    <div class='form-group'>
        <textarea name="naeyong" class="form-control" rows='2'></textarea>
    </div>
    
    <div class='form-group' align="right">
        <input type="submit" value="포스트" class='btn btn-primary' >
    </div>
<% end %>
<hr/>

<ul>
    
    <% @blogs.each do |w| %>
    <li><h4><%=w.user.email%> <a href = "/page?id=<%=w.user.id%>">페이지로 가기</a> </h4>
    <div class="well">
        <%=w.content%>
    </div>
    
    <div class="edit&delete" align="right">
        <a href="/edit?id=<%=b.id%>">edit</a>
        <a href="/destroy?id=<%=b.id%>">delete</a>
    </div>
    <%=form_tag '/comment', class: "form-inline" do%>
        <input type='hidden' name="blog_id" value="<%=w.id%>">
        <div class="form-group">
            <input type="text" name="comment" class="form-control">
        </div>
        <input type="submit">
    <% end %>
    
    <ol>
    <% b.comments.each do |v| %>
        <li><%=v.user.email%> : <%=v.msg%>
        <a href="comment_edit?id=<%=v.id%>">edit</a>
        <a href="comment_destroy?id=<%=v.id%>">delete</a>
        </li>
    <% end %>
    </ol>
    </li>
    <% end %>

</ul>